h1 {
    margin: 0;
}

.titles{
    background-color: darkgray;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.floatThis{
    float: left;
    margin: 1%;
    /*width: 30%;*/
    height: 300px;
}

aside{
    width: 20%;
}

article{
    width: 50%;
}
footer{
    clear: left;
}