html, body{
    height: 95%;
    background-color: blueviolet;
    font-family: Arial;
}
button{
    background-color: #5700F1;
    color: white;
    height: 50px;
    /*margin-top: 5%;*/
    border: none;
}

h3{
    display: inline-block;
}

section{
    color: white;
}

input{
    opacity: 0.5;
    margin-bottom: 5%;
}

hr{
    margin: 10% 0px;
}

h4{
    text-align: center;
    color: mediumpurple;
    margin-bottom: 10%;
}

.wide{
    width: 100%;
    border-radius: 30px;
}
#container{
    margin: 0px 20%;
    background-color: #453C6F;
    padding: 0px 8% 10% 5%;
    border: 1px solid white;
}

#signin{
    color: white;
    text-decoration: underline rebeccapurple;
    /*text-decoration-color: rebeccapurple;*/
}

#signup{
    color: mediumpurple;
}

