#container{
    margin: 0px 20%;
    background-color: #474892;
}

h3{
    display: inline-block;
}

#signin{
    color: white;
    text-decoration: underline rebeccapurple;
    /*text-decoration-color: rebeccapurple;*/
}

#signup{
    color: mediumpurple;
}