.titles{
    font-size: 24px;
    background-color: darkgray;
    margin: 5px;
    color: black;
    text-align: center;
}

.inlineThis{
    display: inline-block;
    width: 32%;
    height: 250px;
}

h1{
    margin: 0;
}